@model IEnumerable<OrderFoodTeam.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Menu";
}
<div class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
                <hr>
                @foreach (var item in Model)
                {
            <div class="itemMenu" style="margin-bottom:30px">


                <div class="row">
                    <div class="col-md-4">
                        <img src="~/img/@item.Image.Url" alt="Alternate Text" class="img-thumbnail" />
                    </div>
                    <div class="col-md-6 boxProduct">
                        <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        <p>@Html.DisplayFor(modelItem => item.Measurement)</p>
                        </p>
                        <p class="price">Price : <span>@Html.DisplayFor(modelItem => item.Price)</span></p>
                    </div>
                    <div class="col-md-4">
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </div>
                </div>
                
            </div>
                }
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
