@model IEnumerable<OrderFoodTeam.Models.Reservation>
@{
    ViewBag.Title = "AllReservs";
}



    <div class="col-md-12">
        <h4>All Reservs:</h4>
        <table class="table">
            <tr>
                <td><h5>Delete</h5></td>
                <td><h5>Name</h5></td>
                <td><h5> Quantity</h5></td>
                <td><h5>ReservationDate</h5></td>
                <td><h5>ReservationTime</h5></td>


            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>



                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary" asp-fragment="delete">Delete</a>



                    </td>
                    <td><h5> @item.FullName</h5></td>
                    <td><h5>@item.Quantity</h5></td>
                    <td><h5>@item.ReservationDate</h5> </td>
                    <td><h5>@item.ReservationTime</h5></td>


                </tr>
            }
        </table>
        </div>
